body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

.not-found {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}
